.wrapper {
  margin: 30px auto;
  max-width: 800px;
  margin-left:13%;
}

header {
  padding-top:25%;

}

footer {
  clear: both;
}

.page {
  float: left;
  width: 70%;
  padding: 0px 10px;
  padding-top:75%;
  font-size: 20px;
}

aside {
  float: right;
  width: 160px;
  height: 100%;
  position: fixed;
  z-index:2;
  top:0;
  right:0;
  background-color: black;
  padding-top:20px;
}

#obr {
  height:100%;
  z-index:-1;
  top:75px;
  right:250px;
  position:absolute;
  
}
#barva-1 {
  width:510px;
  height:520px;
  z-index:-1;
  top:65px;
  right:255px;
  position:absolute;
  background-color: black;

}
#barva {
  width:500px;
  height:100%;
  z-index:-1;
  top:0;
  right:0;
  position:fixed;
  background-color: #C60D25;

}


nav ul {
  display:block;
  margin-top:50px;
}

nav li {
  margin-top:20px;
  font-size:20px;
  list-style:none;
  color:#C60D25;
}

nav li.srdce {position:absolute;bottom:5%;}

nav a {text-decoration: none; color:white;}
nav a.hover {
  background-color: white;
}

nav .active {
  font-weight: bold;
}
