* {font-family: "Georgia", serif;}


header {
  background:#C60D25;
  color:#ffffff;
  min-height:70px;
  border-bottom:black 3px solid;
  position:absolute;
  width:100%;
  left:0;
  top:0;
  padding-left:15%;
}


.wrapper {
  margin:auto;
  max-width: 800px;
  margin-left:13%;
}



footer {
  margin: 30px auto;
  clear: both;
  width:70%;
  padding-top:5px;
}

.page {
  float: left;
  width: 70%;
  padding: 0px 10px;
  padding-top:15%;
  font-size: 20px;
}

aside {
  float: right;
  width: 160px;
  height: 100%;
  position: fixed;
  z-index:2;
  top:0;
  right:0;
  background-color: black;
  padding-top:20px;
}

nav ul {

  display:block;
  margin-top:50px;
}

nav li {

  margin-top:20px;
  font-size:18px;
  list-style:none;
  color:#C60D25;
}
nav li.srdce {position:absolute;bottom:5%;}

nav a {text-decoration: none; color:white;}
nav a:hover {
  color: #C60D25;
}

nav .active {
  font-weight: bold;
}
