.wrapper {
  margin: 30px auto;
  max-width: 800px;
  padding: 20px;
}

header {
  padding: 30px 0 0;
  border-bottom: solid;
}

footer {
  border-top: solid;
  clear: both;
}

.page {
  float: left;
  width: 70%;
  border-left: solid;
  padding: 0px 10px;
  margin-left:160px;
  font-size: 25px;
}

aside {
  float: right;
  width: 160px;
  height: 100%;
  position: fixed;
  z-index:1;
  top:0;
  right:0;
  background-color: #111;
  padding-top:20px;
}

nav ul {
  text-decoration:none;
  padding: 6px 8px 6px 16px;
  font-size:25px;
  color: #818181;
  display:block;
}

nav a.hover {
  color: #f1f1f1;
}

nav .active {
  font-weight: bold;
}
