* {font-family: "Georgia", serif;}

body {background-color:#D3D3D3;}
header {
  color:#ffffff;
  font-size:20px;
  border-bottom:black 3px solid;
  position:absolute;
  width:100%;
  left:0;
  top:0;
  min-height:420px;
  background:url('vitruvian.jpg') no-repeat 0 -200px;
  background-size: cover;
  text-align:center;
  }

header h1 {
  margin-top:15%;
  border:black 1px solid;
  background-color:#8d8b8b;
  opacity:0.9;
  width:35%;
  margin-left:32.8%;
  }
header h1 a {
  text-decoration:none;
  color:#a80824;
  font-family: "Century Gothic";
}

header p {
font-family: "Gill Sans", "Verdana";
}

.wrapper {
  margin:auto;
  max-width: 800px;
  margin-left:5%;
  margin-top:5%;
}


.zkousim {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1.5em;
  padding-left: 2em;
  color:#ffffff;
  margin-top: 2em;
  margin-bottom: 2em;
  list-style-type: none;
  border-radius: 12px;
  width: 100%;
background: rgba(169,3,41,1);
background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(169,3,41,1)), color-stop(44%, rgba(143,2,34,1)), color-stop(100%, rgba(109,0,25,1)));
background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
background: -o-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
background: -ms-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
background: linear-gradient(to bottom, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0 );

}

.zkousim h2 {
  font-family: "Century Gothic";
}

.zkousim a {
  color: white;
  font-weight: bold;
}

footer img {
  padding-left: 40%;
  
}

footer {
  margin: 30px auto;
  clear: both;
  padding-top:5px;
  width: 100%;
  padding-bottom: 50px;
  padding-left: 40%;

}

.page {
  margin-top:40%;
  width: 70%;
  padding: 0px 44%;
  padding-top:15%;
  font-size: 20px;
  text-align: justify;
  
}

aside {
  width: 100%;
  top:0;
  left:0;
  position:absolute;
  background-color: black;
  float:left;
  border-bottom:#a80824 3px solid;
 
}

nav ul {

  float:left;
  display:inline;
  padding:10px;
  list-style:none;
}

nav li {
  display:inline;
  padding:10px;
  list-style:none;
  margin-top:20px;
  font-size:18px;
  list-style:none;
  color:#C60D25;
}
nav li.srdce {position:absolute;top:0;right:5%; display:inline;color:white;
  }
.heart {color:#C60D25;}

h2 a{color:#C60D25;text-decoration:none;}

li a{color:#C60D25;text-decoration:none;}

nav a {text-decoration: none; color:white;}
nav a:hover {
  color: #a80824;
}

nav .active {
  font-weight: bold;
}
