<aside>
  <nav>
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
        <li class="{{if $active}} active{{end}}">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
      {{end}}
      <li class="srdce">  {{ .Site.Params.author1 }},  {{ .Site.Params.author2 }},  {{ .Site.Params.author3 }}  <span class="heart">&hearts;</span> {{ now.Year }} </li>
    </ul>
  </nav>
</aside>
